* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: white;
}

main {
    max-width: 1200px;
    margin: 6rem auto 2rem;
    padding: 0 1rem;
}

header {
    padding: 0.5rem;
    position: relative;
    z-index: 10;
    width: 100%;
    top: 5px;
}

nav {
    text-decoration-color: #000000;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #000000;
    text-decoration: none;
    margin-right: 20px;
}

nav a:hover {
    color: #002d7f;
}

nav a:active {
    color: #0056b3;
}

.hero {
    position: relative;
    height: 100vh;
    background: linear-gradient(to bottom, #00000000 20%, #000000cf), url('Camera - Home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-shadow: 1px 1px 5px rgba(7, 7, 7, 0.7);
    margin-top: -50px;
}

.hero h1 {
    color: white;
    text-align: left;
    margin-left: 100px;
    font-size: 4rem;
    font-family: Baskerville Old Face;
}

.logo img {
    max-width: 200px;
    height: auto;
    width: auto;
    color: rgb(0, 0, 0);

}

footer p {
    color: #000000;
}

footer {
    text-align: center;
    padding: 2rem;
    margin-top: 4rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

